body{
    background: linear-gradient(to right, #11998e, #38ef7d);
}

ul{
    list-style-type: none;  
    color: yellow;
}

.Done{
    text-decoration: line-through;
    opacity: 0.7;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

ul div{
    transition: all 0.5s ease;
}